<div class="container my-5">
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        @İnput - @Output
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <app-output></app-output>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Angular Lifecycle - Part 1   (ngOnInıt)
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <app-header></app-header>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <app-main></app-main>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingfour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
            Angular Template Syntax
          </button>
        </h2>
        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-angular-template-syntax></app-angular-template-syntax>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingfive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
            Binding
          </button>
        </h2>
        <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-bindings></app-bindings>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingsix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
            Template Statement
          </button>
        </h2>
        <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-template-statement></app-template-statement>
        </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingeight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
            Class and style bindings
        </button>
        </h2>
        <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-class-and-style-bindings></app-class-and-style-bindings>
        </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingnine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
            Event bindings
        </button>
        </h2>
        <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-event-binding></app-event-binding>
        </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingten">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
           Two Way bindings
        </button>
        </h2>
        <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingten" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-two-way-binding></app-two-way-binding>
        </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingeleven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeleven" aria-expanded="false" aria-controls="collapseeleven">
           Deferrable Views
        </button>
        </h2>
        <div id="collapseeleven" class="accordion-collapse collapse" aria-labelledby="headingeleven" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-deferrable-views></app-deferrable-views>
           </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingtwelve">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwelve" aria-expanded="false" aria-controls="collapsetwelve">
           Referance Variables
        </button>
        </h2>
        <div id="collapsetwelve" class="accordion-collapse collapse" aria-labelledby="headingtwelve" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-referance-variables></app-referance-variables>
           </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingthirteen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethirteen" aria-expanded="false" aria-controls="collapsethirteen">
           Svg As Templates
        </button>
        </h2>
        <div id="collapsethirteen" class="accordion-collapse collapse" aria-labelledby="headingthirteen" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-svg-as-templates></app-svg-as-templates>
        </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingfifteen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefifteen" aria-expanded="false" aria-controls="collapsefifteen">
          Angular Directivelere Giriş
        </button>
        </h2>
        <div id="collapsefifteen" class="accordion-collapse collapse" aria-labelledby="headingfifteen" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-angular-directive></app-angular-directive>
        </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingsixteen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesixteen" aria-expanded="false" aria-controls="collapsesixteen">
            Structural directives
        </button>
        </h2>
        <div id="collapsesixteen" class="accordion-collapse collapse" aria-labelledby="headingsixteen" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-structural-directives></app-structural-directives>
        </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingseventeen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseventeen" aria-expanded="false" aria-controls="collapseseventeen">
            Attribute directives
        </button>
        </h2>
        <div id="collapseseventeen" class="accordion-collapse collapse" aria-labelledby="headingseventeen" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-attribute-directive></app-attribute-directive>
        </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingnineteen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenineteen" aria-expanded="false" aria-controls="collapsenineteen">
            Directive Api
        </button>
        </h2>
        <div id="collapsenineteen" class="accordion-collapse collapse" aria-labelledby="headingnineteen" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div appDirectiveCompoApi >
                Hover over me
              </div>
        </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingtwenty">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwenty" aria-expanded="false" aria-controls="collapsetwenty">
            Dependency Injection
        </button>
        </h2>
        <div id="collapsetwenty" class="accordion-collapse collapse" aria-labelledby="headingtwenty" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-dependency-injection-component></app-dependency-injection-component>
        </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingtwentyone">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwentyone" aria-expanded="false" aria-controls="collapsetwentyone">
            Creating an injectable service
            </button>
        </h2>
        <div id="collapsetwentyone" class="accordion-collapse collapse" aria-labelledby="headingtwentyone" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-injectable-services-component></app-injectable-services-component>
        </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingtwentytwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwentytwo" aria-expanded="false" aria-controls="collapsetwentytwo">
            Defining dependency providers
            </button>
        </h2>
        <div id="collapsetwentytwo" class="accordion-collapse collapse" aria-labelledby="headingtwentytwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-user-services-component></app-user-services-component>
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="headingtwentythree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwentythree" aria-expanded="false" aria-controls="collapsetwentythree">
            Injection context
            </button>
        </h2>
        <div id="collapsetwentythree" class="accordion-collapse collapse" aria-labelledby="headingtwentythree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-logger-service-component></app-logger-service-component>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingtwentythree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwentythree" aria-expanded="false" aria-controls="collapsetwentythree">
            DI in action
            </button>
        </h2>
        <div id="collapsetwentythree" class="accordion-collapse collapse" aria-labelledby="headingtwentythree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-user-details></app-user-details>
          </div>
        </div>
      </div>

  </div>
</div>



